.container {
  position: relative;

  input[type='number'] {
    --padding-inline-start: var(--space-24);
    --padding-inline-end: 0;
  }

  &::before {
    position: absolute;
    top: 50%;
    left: var(--space-8);
    translate: 0 -50%;

    font-size: var(--input-font-size);
    font-weight: 520;
    line-height: 1;

    opacity: 0.6;
    pointer-events: none;
  }

  &:nth-of-type(1)::before {
    content: 'H';
  }

  &:nth-of-type(2)::before {
    content: 'C';
  }

  &:nth-of-type(3)::before {
    content: 'L';
  }
}
