.gallery {
  --padding-block-start: var(--space-xl);
  --padding-block-end: var(--space-xl);
  --icon-card-min-width: 160px;

  grid-column: 2 / -1;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-columns: repeat(auto-fit, minmax(var(--icon-card-min-width), 1fr));
  gap: var(--space-16);

  padding-inline: var(--padding-inline-start) var(--padding-inline-end);
  padding-block: var(--padding-block-start) var(--padding-block-end);

  & > :first-child {
    grid-column: 1 / -1;
  }

  @media (--screen-xs) {
    --icon-card-min-width: 200px;
  }

  @media (--screen-md) {
    --padding-block-start: var(--space-2xl);
    --padding-block-end: var(--space-2xl);
  }
}

.loading {
  height: calc(100vh - var(--nav-height));
  place-items: center;

  svg {
    animation: rotate 500ms linear infinite;
  }
}

@keyframes rotate {
  to {
    rotate: 1turn;
  }
}
