.gallery {
  --padding-block-start: var(--space-xl);
  --padding-block-end: var(--space-xl);

  grid-column: 2 / -1;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: var(--space-16);

  padding-inline: var(--padding-inline-start) var(--padding-inline-end);
  padding-block: var(--padding-block-start) var(--padding-block-end);

  & > :first-child {
    grid-column: 1 / -1;
  }

  @media (--screen-md) {
    --padding-block-start: var(--space-2xl);
    --padding-block-end: var(--space-2xl);
  }
}
