.container {
  --content-width: var(--space-296);
  --background-color: var(--surface-1);
  --text-color: var(--foreground);

  @media (--screen-md) {
    --background-color: var(--surface-2);
  }

  [data-theme='light'] & {
    --background-color: var(--foreground);
    --border-color-oklch: var(--background-oklch);
    --border-opacity: 25%;
    --border: var(--border-width) var(--border-style)
      oklch(var(--border-color-oklch) / var(--border-opacity));
    --text-color: var(--background);
  }

  position: relative;
  display: flex;
  flex-direction: column-reverse;
  width: var(--sidebar-popper-width);

  background-color: var(--background-color);
  color: var(--text-color);
  border-radius: var(--border-radius);
  transform-origin: top left;
  box-shadow: var(--box-shadow);
  animation-duration: 300ms;
  animation-timing-function: var(--ease-out-5);

  overflow: hidden;
  z-index: var(--z-3);

  &[data-state='open'] {
    animation-name: triggerEnter;
  }

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 2px solid oklch(var(--gray-50-oklch) / 5%);
    border-radius: inherit;
    pointer-events: none;
  }
}

.slider-container {
  display: grid;
  gap: var(--space-16);
  padding: var(--space-16);
}

@keyframes triggerEnter {
  from {
    /* translate: 0 var(--space-16);  */
    /* rotate: 0.25rad; */
    scale: 0.5;
    opacity: 0;
  }
}
