.select {
  display: flex;
  justify-content: space-between;
  color: inherit;
  width: 100%;
}

.base-select {
  --input-background: oklch(var(--input-background-oklch) / var(--input-background-opacity));
  --input-border: var(--input-border-width) var(--input-border-style)
    oklch(var(--input-border-color) / var(--input-border-opacity));

  --select-padding-inline: var(--input-padding-inline);
  --select-padding-block: var(--input-padding-block);
  --select-background: var(--input-background);
  --select-border: var(--input-border);
  --select-border-radius: var(--input-border-radius);

  display: flex;
  gap: var(--space-4);
  align-items: center;
  justify-content: space-between;

  background: var(--input-background);
  border: var(--input-border);
  border-radius: var(--input-border-radius);

  min-height: var(--space-48);
  padding-inline: var(--input-padding-inline);
  padding-block: var(--input-padding-block);

  font-size: var(--input-font-size);
  font-weight: var(--input-font-weight);
  line-height: 1;
  user-select: none;
  transition: background-color 0.25s var(--ease-out-3), border 0.25s var(--ease-out-3);

  &:hover,
  &[aria-expanded='true'] {
    --input-background-opacity: 100%;
    --input-border-opacity: 15%;
  }

  &[aria-expanded='true'] {
    --input-border-color: var(--accent-color-oklch);
    --input-border-opacity: 0.75;
  }
}

.base-select-content {
  --input-border: var(--input-border-width) var(--input-border-style)
    oklch(var(--input-border-color) / var(--input-border-opacity));
  --content-width: var(--space-296);

  background: var(--gray-800);
  border: var(--input-border);
  border-radius: var(--input-border-radius);

  width: var(--sidebar-popper-width);
  padding: var(--space-6);
  box-shadow: var(--shadow-3);
  overflow: hidden;

  animation-duration: 300ms;
  animation-timing-function: var(--ease-out-5);

  z-index: var(--z-3);

  &[data-state='open'] {
    animation-name: triggerEnter;
  }
}

.base-select-item {
  position: relative;
  padding-inline: var(--space-10);
  padding-block: var(--space-12);
  border-radius: var(--space-1);

  user-select: none;

  font-size: var(--input-font-size);
  font-weight: var(--input-font-weight);
  line-height: 1;

  &[data-highlighted] {
    color: var(--gray-950);
    background: var(--accent-color);
    outline: none;
  }
}

@keyframes triggerEnter {
  from {
    translate: 0 var(--space-6);
    /* rotate: 0.25rad; */
    /* scale: 0.5; */
    opacity: 0;
  }
}
