.input {
  display: flex;
  height: var(--space-48);
  flex-grow: 1;
  padding-inline: 0;

  input[type='text'] {
    all: unset;
    flex-grow: 1;
  }

  &:has(input:focus) {
    --background-color-oklch: var(--active-background-color-oklch);
    --background-opacity: var(--active-background-opacity);
    --border-color-oklch: var(--active-border-color-oklch);
    --border-opacity: var(--active-border-opacity);
  }

  &:has(input:focus-visible) {
    outline: var(--outline-size) var(--outline-style)
      oklch(var(--outline-color-oklch) / var(--outline-opacity));
    outline-offset: var(--outline-offset);
  }
}

.search,
.close {
  padding-inline: var(--space-16);
  border-radius: var(--input-border-radius);
  transition: color 300ms var(--ease-out-3), opacity 300ms var(--ease-out-5);

  &:not(:disabled):hover {
    color: var(--accent-color);
  }
}

.search {
  &:disabled {
    opacity: 0.5;
  }
}

.close {
  opacity: 0.5;

  &:hover {
    opacity: 1;
  }

  &:disabled {
    opacity: 0;
  }
}
