@layer module {
  .main {
    overflow-x: clip;
    min-height: 100dvh;
  }

  .section {
    display: grid;
    grid-template-columns: 0 1fr;
    transition: grid-template-columns 400ms var(--ease-out-5);

    @media (--screen-md) {
      display: grid;
      position: relative;
      grid-template-columns: var(--space-344) 1fr;
    }
  }
}
