.card {
  --background-opacity: 0;
  --background-color-oklch: var(--surface-2-oklch);
  --background: oklch(var(--background-color-oklch) / var(--background-opacity));
  --opacity-increasing: 0;
  --opacity-decreasing: 1;

  position: relative;
  background-color: var(--background);

  border: var(--border-light);
  border-radius: var(--brad);
  transition: background 300ms var(--ease-out-5), box-shadow 300ms var(--ease-out-5);

  [data-theme='light'] & {
    --background-color-oklch: var(--white-oklch);
  }

  &:hover,
  &:has(button:focus-visible) {
    --opacity-increasing: 1;
    --opacity-decreasing: 0.4;
    --background-opacity: 0.4;
    box-shadow: var(--shadow-accent-5);
  }

  &::before {
    content: '';
    position: absolute;
    top: -1px;
    left: -1px;
    bottom: -1px;
    right: -1px;

    background: linear-gradient(
        to bottom right in oklab,
        var(--accent-color) 0%,
        var(--analogous-color) 100%
      )
      border-box;
    -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
    mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;

    border: 1px solid transparent;
    border-radius: var(--brad);
    opacity: var(--opacity-increasing);
    transition: opacity 300ms var(--ease-out-5);
  }
}

.icon-container {
  --padding-block-start: var(--space-2xl);
  --padding-block-end: 0;

  display: grid;
  place-items: center;

  aspect-ratio: 3 / 2;
  padding-block: var(--padding-block-start) var(--padding-block-end);

  color: var(--accent-color);
}

.text-container {
  --padding-inline-start: var(--space-16);
  --padding-inline-end: var(--padding-inline-start);
  --padding-block-start: var(--space-24);
  --padding-block-end: var(--padding-block-start);

  padding-inline: var(--padding-inline-start) var(--padding-inline-end);
  padding-block: var(--padding-block-start) var(--padding-block-end);

  p {
    font-size: var(--font-xs);
    font-weight: var(--font-regular);
    text-align: center;
    opacity: min(0.75, var(--opacity-decreasing));
    transition: opacity 300ms var(--ease-out-5);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.button-container {
  position: absolute;
  top: 4px;
  left: 4px;
  bottom: 4px;
  right: 4px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--space-8);
  border-radius: var(--input-border-radius);
  backdrop-filter: blur(4px);

  opacity: var(--opacity-increasing);
  transition: opacity 300ms var(--ease-out-5);

  button {
    --child-border-opacity: 0;

    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--space-8);
    background: var(--surface-4);
    padding-inline: var(--space-24);
    padding-block: var(--space-16);
    min-width: var(--space-120);
    border: var(--border-light);
    border-radius: var(--space-96);
    font-size: var(--font-sm);
    font-weight: var(--font-medium);
    box-shadow: var(--shadow-accent-5);
    transition: background 300ms var(--ease-out-5);

    [data-theme='light'] & {
      background: var(--gray-800);
      color: var(--gray-50);
    }

    &:hover,
    &:focus-visible {
      background: var(--surface-2);
      --child-border-opacity: 1;

      [data-theme='light'] & {
        background: var(--gray-950);
        color: var(--gray-50);
      }
    }

    &::before {
      --border-size: 1px;

      content: '';
      position: absolute;
      top: -1px;
      left: -1px;
      bottom: -1px;
      right: -1px;

      background: linear-gradient(
          to bottom right in oklab,
          var(--accent-color) 0%,
          var(--analogous-color) 100%
        )
        border-box;
      -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
      mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
      -webkit-mask-composite: xor;
      mask-composite: exclude;

      border: var(--border-size) solid transparent;
      border-radius: var(--space-96);
      opacity: var(--child-border-opacity);
      transition: opacity 300ms var(--ease-out-5);
    }

    [data-theme='light'] &::before {
      --border-size: 2px;
    }
  }
}
