[data-switch-group] {
  --layout-direction: row; /* row or row-reverse */

  --thumb-size: var(--space-32);
  --thumb-color: var(--gray-50);

  --track-size: calc(var(--thumb-size) * 1.75);
  --track-padding: 3px;

  /* ------------------------------------------ */
  /* ------------------------------------------ */

  display: inline-flex;
  flex-direction: var(--layout-direction);
  align-items: center;
  justify-content: space-between;
  gap: 2ch;
  width: 100%;

  user-select: none;
  -webkit-tap-highlight-color: transparent;

  font-weight: 500;

  [role='switch'] {
    --thumb-position: 0%;

    appearance: none;

    inline-size: var(--track-size);
    block-size: calc(var(--thumb-size) + 2px);
    background-color: var(--background-color);
    border: var(--border);
    border-radius: var(--thumb-size);
    cursor: pointer;

    flex-shrink: 0;
    display: grid;
    align-items: center;
    grid: [track] 1fr / [track] 1fr;
    overflow: hidden;
    margin: 0;

    transition: background-color var(--transition-timing) var(--transition-ease);

    &::before {
      box-sizing: border-box;
      content: '';
      grid-area: track;

      inline-size: var(--thumb-size);
      block-size: var(--thumb-size);
      aspect-ratio: 1/1;
      background: var(--thumb-color);
      border: var(--track-padding) solid transparent;
      background-clip: padding-box;
      border-radius: var(--thumb-size);

      transform: translateX(var(--thumb-position));
      transition: transform var(--transition-timing) var(--transition-ease),
        border var(--transition-timing) var(--transition-ease),
        background var(--transition-timing) var(--transition-ease);
    }

    &:hover,
    [data-switch-group] label:hover + & {
      --background-opacity: var(--hover-background-opacity);
      --border-opacity: var(--hover-border-opacity);
    }

    &:checked {
      --thumb-position: calc(var(--track-size) - 100% - 1px);
      --background-color-oklch: var(--active-background-color-oklch);
      --background-opacity: 80%;
    }

    &:focus-visible {
      outline: var(--outline-size) var(--outline-style)
        oklch(var(--outline-color-oklch) / var(--outline-opacity));
      outline-offset: var(--outline-offset);
    }
  }
}
