.slider-group {
  display: grid;
  gap: var(--space-10);
}

.label-wrapper {
  display: flex;

  label {
    flex-grow: 1;
    text-transform: capitalize;
  }

  span {
    font-variant-numeric: tabular-nums;
    letter-spacing: var(--tracking-in-2);
  }
}

.slider {
  --thumb-width: var(--track-height);
  --thumb-height: var(--thumb-width);
  --thumb-border: var(--space-12) solid transparent;
  --thumb-border-radius: var(--space-24);
  --thumb-color: white;
  --thumb-shadow: none;
  --thumb-filter: drop-shadow(0px 2px 8px oklch(var(--gray-950-oklch) / 50%));
}

.hue {
  --track-background: linear-gradient(
    to right in oklch longer hue,
    oklch(70% 0.3 0),
    oklch(70% 0.3 0)
  );
}

.lightness {
  --track-background: linear-gradient(to right, var(--black) 0%, var(--gray-50) 100%);
}

.chroma {
  --start: oklch(var(--lightness) 0 var(--hue));
  --end: oklch(70% 0.5 var(--hue));

  --track-background: linear-gradient(to right, var(--start) 0%, var(--end) 100%);
}
