.sidebar {
  border-right: var(--border-light);
  height: 400vh;
}

.sticky {
  position: sticky;
  top: var(--gradient-stripe-size);

  section {
    padding-inline: var(--app-padding-inline);
    padding-block: var(--app-padding-block) calc(var(--app-padding-block) + var(--size-4));
    border-bottom: var(--border-light);
  }
}
