@layer ds {
  .overlay,
  .content {
    --dialog-animation-timing: 300ms;
    --dialog-animation-ease: var(--ease-out-3);
  }

  .overlay {
    position: fixed;
    inset: 0;

    background-color: oklch(var(--black-oklch) / 70%);
    backdrop-filter: blur(3px);

    &[data-state='open'] {
      animation: dialog-overlay-show var(--dialog-animation-timing) var(--dialog-animation-ease);
    }

    &[data-state='closed'] {
      animation: dialog-overlay-hide var(--dialog-animation-timing) var(--dialog-animation-ease);
    }
  }

  .content {
    position: fixed;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
  }
}

@keyframes dialog-overlay-show {
  from {
    opacity: 0;
  }
}

@keyframes dialog-overlay-hide {
  to {
    opacity: 0;
  }
}
