@layer theme {
  :where(html) {
    /* -------- COLOR -------- */
    --foreground-oklch: var(--gray-950-oklch);
    --foreground: oklch(var(--foreground-oklch));

    --background-oklch: var(--gray-50-oklch);
    --background: oklch(var(--background-oklch));

    --surface-1-oklch: var(--gray-100-oklch);
    --surface-1: oklch(var(--surface-1-oklch));

    --surface-2-oklch: var(--gray-150-oklch);
    --surface-2: oklch(var(--surface-2-oklch));

    --surface-3-oklch: var(--gray-200-oklch);
    --surface-3: oklch(var(--surface-3-oklch));

    --surface-4-oklch: var(--gray-300-oklch);
    --surface-4: oklch(var(--surface-4-oklch));

    --accent-color-oklch: var(--lightness) var(--chroma) var(--hue);
    --accent-color: oklch(var(--accent-color-oklch));

    --accent-color-dark-oklch: min(45%, var(--lightness)) var(--chroma) var(--hue);
    --accent-color-dark: oklch(var(--accent-color-dark-oklch));

    --analogous-color-oklch: min(50%, var(--lightness)) min(0.3, var(--chroma))
      calc(var(--hue) + 45);
    --analogous-color: oklch(var(--analogous-color-oklch));

    --interface-text-color: var(--gray-50);
    --interface-text-transition-timing: 300ms;
    --interface-text-transition-ease: var(--ease-out-3);
    --interface-text-transition-delay: 200ms;

    /* @media (--is-dark) {
      --foreground-oklch: var(--gray-50-oklch);
      --surface-1-oklch: var(--gray-700-oklch);
      --surface-2-oklch: var(--gray-800-oklch);
      --surface-3-oklch: var(--gray-850-oklch);
      --surface-4-oklch: var(--gray-900-oklch);
      --background-oklch: var(--gray-950-oklch);
    } */

    &[data-theme='dark'] {
      --foreground-oklch: var(--gray-50-oklch);
      --surface-1-oklch: var(--gray-700-oklch);
      --surface-2-oklch: var(--gray-800-oklch);
      --surface-3-oklch: var(--gray-850-oklch);
      --surface-4-oklch: var(--gray-900-oklch);
      --background-oklch: var(--gray-950-oklch);
    }

    /* -------- SPACE -------- */
    --space-2xs: var(--space-4);
    --space-xs: var(--space-8);
    --space-sm: var(--space-12);
    --space-md: var(--space-16);
    --space-lg: var(--space-24);
    --space-xl: var(--space-32);
    --space-2xl: var(--space-40);

    --padding-inline-start: var(--space-sm);
    --padding-inline-end: var(--padding-inline-start);
    --padding-block-start: var(--space-lg);
    --padding-block-end: var(--padding-block-start);

    --nav-height: var(--space-96);
    --body-border-size: var(--space-12);

    @media (--screen-sm) {
      --padding-inline-start: var(--space-md);
      --body-border-size: var(--space-16);
    }

    @media (--screen-md) {
      --padding-inline-start: var(--space-xl);
      --body-border-size: var(--space-16);
    }

    /* -------- BORDERS -------- */
    --border-transparent: 1px solid oklch(var(--foreground-oklch) / 0%);
    --border-xlight: 1px solid oklch(var(--foreground-oklch) / 7%);
    --border-light: 1px solid oklch(var(--foreground-oklch) / 15%);
    --border-accent: 1px solid oklch(var(--accent-color-oklch) / 100%);
    --brad: var(--space-xs);

    /* -------- SIDEBAR POPOVER STYLES -------- */
    --sidebar-width: 100vw;
    --sidebar-max-width: var(--space-368);
    --sidebar-content-width: calc(var(--sidebar-width) - var(--padding-inline-start) * 2);
    --sidebar-content-max-width: calc(var(--sidebar-max-width) - var(--padding-inline-start) * 2);
    --sidebar-popper-width: min(var(--sidebar-content-width), var(--sidebar-content-max-width));
    --sidebar-popper-width: min(var(--sidebar-content-width), var(--sidebar-content-max-width));
  }

  html {
    background-color: var(--background);
    transition: background 250ms var(--ease-out-3);
  }

  body {
    --body-padding: var(--space-24);

    color: var(--foreground);
    min-height: 100dvh;
    /* padding: var(--body-padding); */
  }
}
