.flex {
  display: flex;
}

.flex-justify-start {
  justify-content: flex-start;
}

.flex-justify-between {
  justify-content: space-between;
}

.flex-align-start {
  align-items: start;
}

.flex-align-center {
  align-items: center;
}

.gap-6 {
  gap: var(--space-6);
}

.flex-grow {
  flex-grow: 1;
}
