.tooltip-group {
  --tooltip-offset: var(--space-6);

  position: relative;
  border-radius: var(--space-96);
  opacity: 0.5;
  transition: color 200ms var(--ease-out-5), opacity 200ms var(--ease-out-5);
  transition-delay: 0ms;

  &:is(:hover, :focus, :focus-visible) {
    color: var(--accent-color);
    opacity: 1;
  }

  &:is(:hover) {
    transition-delay: 200ms;
  }

  div[role='tooltip'] {
    --offset: var(--space-xs);

    position: absolute;

    padding-inline: var(--space-16);
    padding-block: var(--space-12);
    background: var(--accent-color-dark);
    inline-size: max-content;
    max-inline-size: 25ch;
    border-radius: var(--brad);
    box-shadow: var(--shadow-black-4);

    font-size: var(--font-2xs);
    line-height: var(--leading-4);
    text-align: center;
    color: var(--white);

    z-index: var(--z-3);
    opacity: 0;
    pointer-events: none;
    transition: opacity 200ms var(--ease-out-5), translate 200ms var(--ease-out-5);
    transition-delay: 0ms;

    &[data-position='top'],
    .tooltip-top {
      top: calc(var(--tooltip-offset) * -1);
      left: 50%;
      translate: -50% -100%;
    }

    &[data-position='right'],
    .tooltip-right {
      top: 50%;
      left: calc(100% + var(--tooltip-offset));
      translate: 0 -50%;
    }

    &[data-position='bottom'],
    .tooltip-bottom {
      top: calc(100% + var(--tooltip-offset));
      left: 50%;
      translate: -50% 0;
    }

    &[data-position='left'],
    .tooltip-left {
      top: 50%;
      left: 0;
      translate: calc(-100% - var(--tooltip-offset)) -50%;
    }
  }

  &:is(:hover, :focus, :focus-visible) {
    div[role='tooltip'] {
      opacity: 1;
    }
  }

  &:is(:hover) {
    div[role='tooltip'] {
      transition-delay: 200ms;
    }
  }
}
