.nav {
  display: flex;
  flex-wrap: wrap;
  border-bottom: var(--border-light);
  height: var(--space-184);

  & > * {
    display: flex;
    align-items: center;

    & > button {
      display: grid;
      place-items: center;
      height: var(--space-48);
      width: var(--space-48);
      border: var(--border-transparent);
      border-radius: 50%;
      transition: background 0.25s var(--ease-out-3), border 0.25s var(--ease-out-3),
        color 0.25s var(--ease-out-3);

      &:hover {
        color: var(--accent-color);
        background: oklch(var(--accent-color-oklch) / 10%);
        border: var(--border-light);
      }
    }
  }

  @media (--screen-md) {
    height: var(--space-96);
    flex-wrap: nowrap;
  }
}

.logo-container {
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding-inline: var(--padding-inline-start) var(--padding-inline-end);
  order: 1;

  svg {
    width: 160px;

    @media (--screen-sm) {
      width: 184px;
    }
  }

  @media (--screen-md) {
    flex-grow: 0;
    flex-basis: var(--sidebar-max-width);
  }
}

.filter-container {
  display: flex;
  align-items: center;
  gap: var(--space-8);
  border-top: var(--border-light);
  padding-inline: var(--padding-inline-start) var(--padding-inline-end);

  flex-grow: 1;
  flex-basis: 100%;
  order: 3;

  @media (--screen-md) {
    --padding-inline-end: 0;

    gap: var(--space-16);
    flex-basis: auto;
    order: 2;
    border-top: none;
  }
}

.contact-container {
  --padding-inline-start: var(--space-2xs);

  display: flex;
  gap: var(--space-4);
  padding-inline: var(--padding-inline-start) var(--padding-inline-end);
  order: 2;

  @media (--screen-md) {
    order: 3;
  }
}
