@layer ds {
  :where(html) {
    --shadow-black-color: var(--black-oklch);
    --shadow-black-strength: 1%;

    &:has([data-theme='dark']) {
      --shadow-black-strength: 20%;
    }

    --shadow-black-1: 0 1px 2px -1px oklch(var(--shadow-black-color) /
          calc(var(--shadow-black-strength) + 9%));
    --shadow-black-2: 0 3px 5px -2px oklch(var(--shadow-black-color) /
            calc(var(--shadow-black-strength) + 3%)),
      0 7px 14px -5px oklch(var(--shadow-black-color) / calc(var(--shadow-black-strength) + 5%));
    --shadow-black-3: 0 -1px 3px 0 oklch(var(--shadow-black-color) /
            calc(var(--shadow-black-strength) + 2%)),
      0 1px 2px -5px oklch(var(--shadow-black-color) / calc(var(--shadow-black-strength) + 2%)),
      0 2px 5px -5px oklch(var(--shadow-black-color) / calc(var(--shadow-black-strength) + 4%)),
      0 4px 12px -5px oklch(var(--shadow-black-color) / calc(var(--shadow-black-strength) + 5%)),
      0 12px 15px -5px oklch(var(--shadow-black-color) / calc(var(--shadow-black-strength) + 7%));
    --shadow-black-4: 0 -2px 5px 0 oklch(var(--shadow-black-color) /
            calc(var(--shadow-black-strength) + 2%)),
      0 1px 1px -2px oklch(var(--shadow-black-color) / calc(var(--shadow-black-strength) + 3%)),
      0 2px 2px -2px oklch(var(--shadow-black-color) / calc(var(--shadow-black-strength) + 3%)),
      0 5px 5px -2px oklch(var(--shadow-black-color) / calc(var(--shadow-black-strength) + 4%)),
      0 9px 9px -2px oklch(var(--shadow-black-color) / calc(var(--shadow-black-strength) + 5%)),
      0 16px 16px -2px oklch(var(--shadow-black-color) / calc(var(--shadow-black-strength) + 6%));
    --shadow-black-5: 0 -1px 2px 0 oklch(var(--shadow-black-color) /
            calc(var(--shadow-black-strength) + 2%)),
      0 2px 1px -2px oklch(var(--shadow-black-color) / calc(var(--shadow-black-strength) + 3%)),
      0 5px 5px -2px oklch(var(--shadow-black-color) / calc(var(--shadow-black-strength) + 3%)),
      0 10px 10px -2px oklch(var(--shadow-black-color) / calc(var(--shadow-black-strength) + 4%)),
      0 20px 20px -2px oklch(var(--shadow-black-color) / calc(var(--shadow-black-strength) + 5%)),
      0 40px 40px -2px oklch(var(--shadow-black-color) / calc(var(--shadow-black-strength) + 7%));
    --shadow-black-6: 0 -1px 2px 0 oklch(var(--shadow-black-color) /
            calc(var(--shadow-black-strength) + 2%)),
      0 3px 2px -2px oklch(var(--shadow-black-color) / calc(var(--shadow-black-strength) + 3%)),
      0 7px 5px -2px oklch(var(--shadow-black-color) / calc(var(--shadow-black-strength) + 3%)),
      0 12px 10px -2px oklch(var(--shadow-black-color) / calc(var(--shadow-black-strength) + 4%)),
      0 22px 18px -2px oklch(var(--shadow-black-color) / calc(var(--shadow-black-strength) + 5%)),
      0 41px 33px -2px oklch(var(--shadow-black-color) / calc(var(--shadow-black-strength) + 6%)),
      0 100px 80px -2px oklch(var(--shadow-black-color) / calc(var(--shadow-black-strength) + 7%));

    --shadow-accent-color: var(--accent-color-oklch);
    --shadow-accent-strength: 1%;

    --shadow-accent-1: 0 1px 2px -1px oklch(var(--shadow-accent-color) /
          calc(var(--shadow-accent-strength) + 9%));
    --shadow-accent-2: 0 3px 5px -2px oklch(var(--shadow-accent-color) /
            calc(var(--shadow-accent-strength) + 3%)),
      0 7px 14px -5px oklch(var(--shadow-accent-color) / calc(var(--shadow-accent-strength) + 5%));
    --shadow-accent-3: 0 -1px 3px 0 oklch(var(--shadow-accent-color) /
            calc(var(--shadow-accent-strength) + 2%)),
      0 1px 2px -5px oklch(var(--shadow-accent-color) / calc(var(--shadow-accent-strength) + 2%)),
      0 2px 5px -5px oklch(var(--shadow-accent-color) / calc(var(--shadow-accent-strength) + 4%)),
      0 4px 12px -5px oklch(var(--shadow-accent-color) / calc(var(--shadow-accent-strength) + 5%)),
      0 12px 15px -5px oklch(var(--shadow-accent-color) / calc(var(--shadow-accent-strength) + 7%));
    --shadow-accent-4: 0 -2px 5px 0 oklch(var(--shadow-accent-color) /
            calc(var(--shadow-accent-strength) + 2%)),
      0 1px 1px -2px oklch(var(--shadow-accent-color) / calc(var(--shadow-accent-strength) + 3%)),
      0 2px 2px -2px oklch(var(--shadow-accent-color) / calc(var(--shadow-accent-strength) + 3%)),
      0 5px 5px -2px oklch(var(--shadow-accent-color) / calc(var(--shadow-accent-strength) + 4%)),
      0 9px 9px -2px oklch(var(--shadow-accent-color) / calc(var(--shadow-accent-strength) + 5%)),
      0 16px 16px -2px oklch(var(--shadow-accent-color) / calc(var(--shadow-accent-strength) + 6%));
    --shadow-accent-5: 0 -1px 2px 0 oklch(var(--shadow-accent-color) /
            calc(var(--shadow-accent-strength) + 2%)),
      0 2px 1px -2px oklch(var(--shadow-accent-color) / calc(var(--shadow-accent-strength) + 3%)),
      0 5px 5px -2px oklch(var(--shadow-accent-color) / calc(var(--shadow-accent-strength) + 3%)),
      0 10px 10px -2px oklch(var(--shadow-accent-color) / calc(var(--shadow-accent-strength) + 4%)),
      0 20px 20px -2px oklch(var(--shadow-accent-color) / calc(var(--shadow-accent-strength) + 5%)),
      0 40px 40px -2px oklch(var(--shadow-accent-color) / calc(var(--shadow-accent-strength) + 7%));
    --shadow-accent-6: 0 -1px 2px 0 oklch(var(--shadow-accent-color) /
            calc(var(--shadow-accent-strength) + 2%)),
      0 3px 2px -2px oklch(var(--shadow-accent-color) / calc(var(--shadow-accent-strength) + 3%)),
      0 7px 5px -2px oklch(var(--shadow-accent-color) / calc(var(--shadow-accent-strength) + 3%)),
      0 12px 10px -2px oklch(var(--shadow-accent-color) / calc(var(--shadow-accent-strength) + 4%)),
      0 22px 18px -2px oklch(var(--shadow-accent-color) / calc(var(--shadow-accent-strength) + 5%)),
      0 41px 33px -2px oklch(var(--shadow-accent-color) / calc(var(--shadow-accent-strength) + 6%)),
      0 100px 80px -2px oklch(var(--shadow-accent-color) / calc(var(--shadow-accent-strength) + 7%));
  }
}
